html, body, #app, #app>div {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

.violetBG {
  background: rgb(208,127,255);
  background: linear-gradient(90deg, rgba(208,127,255,1) 0%, rgba(164,0,253,1) 100%);
}

.violetTable{
  background-color: rgba(164,0,253,1);
}